@import 'style.less';

#sources {
  height: 100%;
}

#sources-container {
  height: 100%;
  margin: 50px;
}

.fas {
  cursor: pointer;

  &:hover {
    color: lighten(black, 50%)
  }
}

#no-sources {

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}


#main-desc-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div.h5 {
    margin: 0;
  }
}

.source-card {
  margin-bottom: 25px;
}


#create-source-type-tabs.nav .nav-link {
  color: black;
}

#myTabContent { //TODO name..
  margin: 10px;
}

.source-item {
  padding: 20px;
  display: flex;
  justify-content: space-between;

  div button {
    height: 100%;
  }

  div .btn.disabled, .btn:disabled {
    //required because the opacity will result in different color when background dark or light
    opacity: 1;
  }
}

.source-item-left, .source-item-right {
  display: flex;
}

.source-item-left {
  div {
    margin-right: 30px;
  }
}

.source-item-right {
  div {
    margin-left: 50px;
  }
}


#source-item-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  i {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.close {
  position: relative;
  top: 0;
  bottom: 0;
}

#shared-items {
  display: flex;
  flex-direction: column;

  i {
    margin-left: 10px;
  }
}

.shared-user {
  margin-left: 10px;
  display: inline;

  i {
    margin-left: 5px;
  }

  i:hover {
    color: red;
  }
}

#source-view-modal {
  word-wrap: break-word;
}

#source-view-body {
  padding: 10px;
}